body {
    font-family: Poppins;
    margin: 0 auto;
    background-color: black;
}

.wrapper {
    margin: 0 auto;
}

header {
    height: 70px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    display: flex;
    flex: 0.3;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    align-self: center;
}

nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-self: center;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

main {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 50px;
}

.left-col {
    flex: 1;
}

.left-col h1 {
    font-size: 48px;
    font-weight: 800;
    color: white;
}

.left-col p {
    color: white;
}

.right-col {
    flex: 1;
}

.right-col img {
    height: 370px;
    width: 630px;
    background-repeat: no-repeat;
    background-size: auto;
    padding-right: 50px;
}

.news {
    height: 45px;
    width: 150px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    border-radius: 12px;
    border: 0px;
    background-color: #3882F6;
}

section {
    height: 600px;
    background-color: white;
    margin-top: -50px;
}

.section-one {
    font-size: 40px;
    font-weight: 100;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.col-cont {
    display: flex;
    justify-content: space-evenly;
}

.cont {
    height: 350px;
    width: 200px;
}

.cont p {
    padding-top: 10px;
    text-align: center;
}

.cont-img {
    height: 180px;
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
}

.cont-img img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.sec-two {
    height: 400px;
    width: 100%;
    background-color: rgb(217, 217, 217);
    margin-top: -50px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.sec-two h3 {
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    z-index: 1;
}

.sec-two h4 {
    margin-top: 270px;
    margin-left: 600px;
    position: absolute;
    z-index: 2;
}

.newsletter {
    height: 350px;
    width: 100%;
    background-color: white;
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.new-cont {
    height: 250px;
    width: 70%;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.cta {
    align-self: center;
    padding-left: 300px;
}

.cta h3 {
    font-size: 26px;
    color: white;
}

.cta p {
    margin-top: -20px;
    color: white;
}

.cta-btn {
    align-self: center;
    padding-right: 300px;
}

.cta-btn button {
    height: 40px;
    width: 150px;
    color: white;
    border: white solid 3px;
    border-radius: 15px;
    background-color: #3882F6;
    font-size: 20px;
}

footer {
    height: 200px;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: rgb(207, 207, 207);

}
