body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1F2937;
    margin: 0 auto;
}

.wrapper {
    padding: 0 50px 0 50px;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex: 0.3;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    align-self: center;
}

nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-self: center;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

main {
    height: 500px;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-col {
    flex: 1;
}

.left-col h1 {
    font-size: 48px;
    
    color: white;
}

.right-col {
    flex: 1;
}

.right-col img {
    height: 300px;
    width: 100%;
}

